.article-carousel, .container-section, .info-section {
    color: white;
    text-align: center;
    padding: 2vh;
}

.home-content {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.4)), url('http://storehouse.online/includes/images/menus/19.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;
}

.article-carousel, .container-section {
    width: 100vw;
}

.info-section {
    background-size: cover;
    background-position: center;
}

.info-section {
    width: 50%;
    height: 35vw;
}

.sponsor-section {
    width: 16.66%;
    height: 15vw;
    float: left;
    text-align: center;
    padding-bottom: 2vh !important;
}

    .info-section a:link, .info-section a:visited, .article-carousel a:link, .article-carousel a:visited, .sponsor-section a:link, .sponsor-section a:visited {
        text-decoration: none !important;
        color: white;
    }

    .info-section h3:hover, .article-carousel h3:hover {
        color: #ff9b0b;
        transition: 0.2s all;
    }

.article-carousel h2, .article-carousel h3, .container-section h2, .info-section h2, .info-section h3 {
    margin-left: unset;
}

.left {
    float: left;
}

.right {
    float: right;
}

.info-section:hover {
    transition: 0.3s all;
    cursor: pointer;
}

.info-section-text {
    margin-top: 25vh;
}

.carousel-image {
    height: 40vh;
    width: 20vw;
}

.button {
    font-size: 2vh;
    padding: 2vh;
    background-color: black;
    color: #ff9b0b;
    margin-top: 2vh;
}

.button:hover {
    color: black;
    background-color: #ff9b0b;
    font-size: 2.5vh;
    transition: 0.2s all;
}


#issue16-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.4)), url('http://storehouse.online/includes/images/covers/16.jpg');
}

#issue17-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.4)), url('http://storehouse.online/includes/images/covers/17.jpg');
}

#issue18-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.4)), url('http://storehouse.online/includes/images/covers/18.jpg');
}

#issue19-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.4)), url('http://storehouse.online/includes/images/covers/19.jpg');
}

#about-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.6)), url('http://storehouse.online/includes/images/mags.jpg');
}

#team-section {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.6)), url('http://storehouse.online/includes/images/team.jpg');
}

.sponsor-section {
    background-size: 20vh;
    background-position: center;
    background-repeat: no-repeat;
}

.sponsor-section:hover {
    background-color: #ff9b0b !important;
    transition: 0.2s all;
    cursor: pointer;
}

#jarrold-section {
    background-image: url('http://storehouse.online/includes/images/sponsors/jarrold.png');
    background-color: #49114c;
}

#thorns-section {
    background-image: url('http://storehouse.online/includes/images/sponsors/thorns.png');
    background-color: #db2228;
}

#franks-section {
    background-image: url('http://storehouse.online/includes/images/sponsors/franks.png');
    background-color: #274e73;
}

#cinemacity-section {
    background-image: url('http://storehouse.online/includes/images/sponsors/cinemacity.png');
    background-color: #2b6565;
}

#workingtitle-section {
    background-image: url('http://storehouse.online/includes/images/sponsors/workingtitle.png');
    background-color: #3d725f;
}

#minuteman-section {
    background-image: url('http://storehouse.online/includes/images/sponsors/minuteman.png');
    background-color: #017852;
}

@media only screen and (max-width: 768px) {
    .info-section, .sponsor-section {
        width: 100%;
        height: 35vw;
    }
    .info-section {
        float: unset;
        height: unset;
    }
    .home-content {
        background-repeat: repeat-y;
    }
}