/*MENU BACKGROUNDS - ADDED BY JASON*/
body {
    background: none !important;
}

.menu-bg {
    z-index: -10;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#issue16-menu {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('http://storehouse.online/includes/images/menus/16.jpg') !important;
}

#issue17-menu {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('http://storehouse.online/includes/images/menus/17.jpg') !important;
}

#issue18-menu {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('http://storehouse.online/includes/images/menus/18.jpg') !important;
}

#issue19-menu {
    background-image: linear-gradient(0deg,rgba(1,2,25,0.8),rgba(0,0,0,0.8)), url('http://storehouse.online/includes/images/menus/19.jpg') !important;
}

/*ANIMATIONS - ADDED BY JASON*/
.bounce-in-right-animation {
    animation: bounceInRight 3s forwards;
}

.bounce-in-left-animation {
    animation: bounceInLeft 2s forwards;
}

.bounce-in-up-animation {
    animation: bounceInUp 3s forwards;
}

.bounce-in-down-animation {
    animation: bounceInDown 2s forwards;
}

.lightspeed-in-animation {
    animation: lightSpeedIn 3s forwards;
}

.zoom-in-down-animation {
    animation: zoomInDown 2s forwards;
}

.zoom-in-animation {
    animation: zoomIn 2s forwards;
}

.zoom-in-up-animation {
    animation: zoomInUp 2s forwards;
}

.zoom-in-left-animation {
    animation: zoomInLeft 2s forwards;
}

.zoom-in-right-animation {
    animation: zoomInRight 2s forwards;
}

.rotate-in-animation {
    animation: rotateIn 3s forwards;
}

/*Colors*/
/*Colors*/
body#home {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: Helvetica, 'sans-serif';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  background-color: black; }
  body#home #pinContainer {
    overflow: hidden;
    width: 100%;
    height: 100%; }
  body#home .panel {
    width: 100%;
    height: 100%; }
  body#home .splitting .char {
    -webkit-animation: slide-in 1s cubic-bezier(0.5, 0, 0.5, 1) both;
    animation: slide-in 1s cubic-bezier(0.5, 0, 0.5, 1) both;
    -webkit-animation-delay: calc(60ms * var(--char-index));
    animation-delay: calc(60ms * var(--char-index)); }

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateY(-1em) scale(0.5);
    transform: translateY(-1em) scale(0.5);
    opacity: 0; } }

@keyframes slide-in {
  from {
    -webkit-transform: translateY(-1em) scale(0.5);
    transform: translateY(-1em) scale(0.5);
    opacity: 0; } }
  body#home #video-background {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: -1; }
  body#home span.yellow {
    color: #ff7b00; }
  body#home #header {
    width: 100%;
    height: 100vh; }
    body#home #header .wrapper {
      width: 100%;
      max-width: 145rem;
      padding: 2rem 3rem;
      height: 100%;
      margin: 0 auto;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      -ms-grid-rows: 15vh 65vh;
      grid-template-rows: 15vh 65vh;
      grid-template-areas: "header header" "content content"; }
    body#home #header .h-wrap {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      grid-area: header;
      height: 12.5rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      margin: 0 auto;
      width: 100%;
      max-width: 132rem; }
    body#home #header .nav {
      -webkit-animation: logo-down 1s ease-out;
      animation: logo-down 1s ease-out;
      -webkit-animation-fill-mode: backwards;
      animation-fill-mode: backwards;
      -webkit-animation-delay: 0;
      animation-delay: 0; }
      body#home #header .nav li {
        list-style: none;
        display: inline-block;
        padding: 0 3rem; }
      body#home #header .nav ul {
        display: inline-block;
        margin-right: 3rem; }
      body#home #header .nav a {
        text-decoration: none;
        color: white;
        position: relative;
        z-index: 2;
        font-size: 1.6rem;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      body#home #header .nav a::before {
        content: '';
        position: absolute;
        width: 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        height: 2rem; }
      body#home #header .nav a:hover::before {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        width: 3rem;
        background-color: #ff7b00;
        height: 2rem; }
    body#home #header .logo {
      width: 100%;
      max-width: 12.5rem;
      -webkit-filter: invert(100%);
      -webkit-animation: logo-down 1s ease-out;
      animation: logo-down 1s ease-out;
      -webkit-animation-fill-mode: backwards;
      animation-fill-mode: backwards;
      -webkit-animation-delay: 0s;
      animation-delay: 0s; }

@-webkit-keyframes logo-down {
  0% {
    -webkit-transform: translateY(-10rem);
    transform: translateY(-10rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    opacity: 1; } }

@keyframes logo-down {
  0% {
    -webkit-transform: translateY(-10rem);
    transform: translateY(-10rem);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    opacity: 1; } }
    body#home #header .hidden-nav {
      display: inline-block;
      position: relative;
      z-index: 1;
      top: 2rem;
      width: 5rem;
      height: 4rem; }
      body#home #header .hidden-nav .desc {
        color: #ff7b00;
        letter-spacing: 0.2rem;
        font-size: 1rem;
        text-transform: uppercase; }
      body#home #header .hidden-nav .line {
        margin-bottom: 1rem; }
      body#home #header .hidden-nav .line:nth-of-type(1) {
        width: 2rem;
        height: 0.3rem;
        background-color: white; }
      body#home #header .hidden-nav .line:nth-of-type(2) {
        width: 3.5rem;
        height: 0.3rem;
        background-color: white; }
      body#home #header .hidden-nav .line:nth-of-type(3) {
        width: 4.5rem;
        height: 0.3rem;
        background-color: white; }
    body#home #header .hidden-nav::before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 0;
      height: 4rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      bottom: 0.5rem; }
    body#home #header .hidden-nav:hover {
      cursor: pointer; }
    body#home #header .hidden-nav:hover::before {
      content: '';
      position: absolute;
      z-index: -1;
      background-color: #ff7b00;
      width: 4rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      height: 4rem;
      bottom: 0.5rem; }
    body#home #header .t-wrap {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      display: -webkit-box;
      height: 100%;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      grid-area: content;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      body#home #header .t-wrap button {
        background-color: #ff7b00;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.6rem;
        border: 0;
        width: 15rem;
        height: 6rem;
        color: white;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        body#home #header .t-wrap button:hover {
          background-color: white;
          color: #ff7b00;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
      body#home #header .t-wrap img {
        width: 3rem;
        margin-top: 10rem;
        opacity: 0;
        -webkit-animation: hovering 1s ease-out infinite;
        animation: hovering 1s ease-out infinite; }

@-webkit-keyframes hovering {
  0% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem); }
  50% {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem); }
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem); } }

@keyframes hovering {
  0% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem); }
  50% {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem); }
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem); } }
      body#home #header .t-wrap #title-b {
        width: 100%;
        max-width: 98rem;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
      body#home #header .t-wrap path.st0 {
        stroke: white;
        fill: white;
        stroke-dasharray: 1300;
        opacity: 10;
        -webkit-animation: animate 3s cubic-bezier(0, 0.23, 1, 0.1);
        animation: animate 3s cubic-bezier(0, 0.23, 1, 0.1); }
      body#home #header .t-wrap path.st01 {
        stroke: #ff7b00;
        fill: #ff7b00;
        stroke-dasharray: 1000;
        opacity: 10;
        -webkit-animation: animate2 3s cubic-bezier(0, 0.23, 1, 0.1);
        animation: animate2 3s cubic-bezier(0, 0.23, 1, 0.1); }
      body#home #header .t-wrap path.st02 {
        stroke: #ff7b00;
        fill: #ff7b00;
        stroke-dasharray: 1000;
        opacity: 10;
        -webkit-animation: animate2 3s cubic-bezier(0, 0.23, 1, 0.1);
        animation: animate2 3s cubic-bezier(0, 0.23, 1, 0.1); }

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1300; }
  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1300; }
  90% {
    fill: rgba(255, 255, 255, 0); }
  100% {
    opacity: 10;
    fill: white;
    stroke-dashoffset: 0; } }

@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1300; }
  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1300; }
  90% {
    fill: rgba(255, 255, 255, 0); }
  100% {
    opacity: 10;
    fill: white;
    stroke-dashoffset: 0; } }

@-webkit-keyframes animate2 {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1000; }
  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1000; }
  90% {
    fill: #ff7b00; }
  100% {
    opacity: 10;
    fill: #ff7b00;
    stroke-dashoffset: 0; } }

@keyframes animate2 {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1000; }
  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1000; }
  90% {
    fill: #ff7b00; }
  100% {
    opacity: 10;
    fill: #ff7b00;
    stroke-dashoffset: 0; } }
      body#home #header .t-wrap h1 {
        color: white;
        font-size: 18rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem; }
      body#home #header .t-wrap .sub {
        color: white;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 2.15rem; }
  body#home #who {
    height: 100%;
    min-height: 80rem;
    width: 100%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "who team" "who team"; }
    body#home #who .what-we {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      -ms-grid-column: 1;
      background-color: #ff7b00;
      grid-area: who; }
      body#home #who .what-we .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        min-height: 80rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        body#home #who .what-we .wrapper .what {
          font-size: 6rem; }
        body#home #who .what-we .wrapper .desc {
          font-size: 1.5rem;
          max-width: 60rem;
          padding: 2rem 2rem 0 2rem;
          line-height: 2rem; }
    body#home #who .team {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      -ms-grid-column: 2;
      background-image: url("../images/team-pic.jpg");
      background-size: cover;
      grid-area: team; }
      body#home #who .team .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        min-height: 75.5rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        body#home #who .team .wrapper .t-link {
          text-decoration: none;
          color: #ff7b00;
          font-size: 2rem;
          text-transform: uppercase;
          letter-spacing: 0.4rem;
          font-weight: bold; }
        body#home #who .team .wrapper .what {
          font-size: 6rem; }
        body#home #who .team .wrapper .desc {
          font-size: 1.5rem;
          width: 100%;
          max-width: 60rem;
          padding: 2rem 2rem 0 2rem;
          line-height: 2rem; }
  @media only screen and (max-width: 1536px) {
    body#home html {
      font-size: 55%; } }
  @media only screen and (max-width: 1200px) {
    body#home html {
      font-size: 55%; }
    body#home #header .wrapper h1 {
      font-size: 13rem; }
    body#home #header .wrapper .sub {
      font-size: 2rem;
      letter-spacing: 1.25rem; } }
  @media only screen and (max-width: 1024px) {
    body#home #who {
      height: 100%;
      min-height: 80rem;
      width: 100%;
      margin: 0 auto;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "who who" "team team"; }
    body#home #who .what-we {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
    body#home #who .team {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; } }
  @media only screen and (max-width: 768px) {
    body#home html {
      font-size: 55%; }
    body#home #header .wrapper .t-wrap h1 {
      font-size: 7.5rem; }
    body#home #header .wrapper .t-wrap .sub {
      font-size: 1.3rem;
      letter-spacing: 0.72rem; }
    body#home #header .wrapper .nav {
      justify-self: flex-end; }
      body#home #header .wrapper .nav ul {
        display: none; }
      body#home #header .wrapper .nav .hidden-nav {
        top: 1rem; } }
  @media only screen and (max-width: 414px) {
    body#home html {
      font-size: 55%; }
    body#home html, body#home body {
      overflow-x: hidden; }
    body#home .wrapper .header nav.nav ul {
      display: none; }
    body#home #header .wrapper .t-wrap h1 {
      font-size: 6rem; }
    body#home #header .wrapper .t-wrap .sub {
      font-size: 0.8rem;
      letter-spacing: 0.68rem; }
    body#home #header .wrapper .nav {
      justify-self: flex-end; }
      body#home #header .wrapper .nav ul {
        display: none; }
      body#home #header .wrapper .nav .hidden-nav {
        top: 1rem; }
    body#home .a-title {
      margin: 0 0 0 -0.90rem; }
    body#home .wrapper .cards .card {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      body#home .wrapper .cards .card img {
        max-width: 55rem;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
        flex: 1 0 0; }
    body#home footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      body#home footer .social {
        padding: 1rem 0; }
      body#home footer p {
        font-size: 1.2rem !important; }
      body#home footer .wrap {
        width: 100%;
        max-width: 130rem;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-line-pack: center;
        align-content: center; } }

/*Colors*/
body#articles {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: Helvetica, 'sans-serif';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }
  body#articles .ii-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 132rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  body#articles .u-social {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-right: -2rem; }
    body#articles .u-social a {
      text-decoration: none;
      color: black;
      padding: 0 2rem;
      font-size: 4rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    body#articles .u-social a:hover {
      color: #ff7b00;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
  body#articles .nav-c {
    -webkit-filter: invert(100%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    height: 10.5rem !important; }
  body#articles .logo-c {
    width: 10rem !important;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  body#articles .a-wrapper {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr 12vw;
    grid-template-columns: auto 1fr 12vw;
    -ms-grid-rows: 15rem 1fr auto;
    grid-template-rows: 15rem 1fr auto;
    grid-template-areas: "header header header" "content content content" "content content content" "footer footer footer"; }
    body#articles .a-wrapper .n-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 12.5rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      margin: 0 auto;
      width: 100%;
      max-width: 132rem; }
    body#articles .a-wrapper .logo {
      -webkit-filter: invert(0%);
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      width: 13rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    body#articles .a-wrapper aside {
      background-color: #ff7b00;
      position: fixed;
      width: 12vw;
      right: 0;
      height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      body#articles .a-wrapper aside .art-nav li {
        list-style: none;
        padding: 2rem 0; }
      body#articles .a-wrapper aside .art-nav a {
        text-decoration: none;
        color: black;
        font-size: 1.6rem;
        font-weight: bold; }
    body#articles .a-wrapper .header {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      grid-area: header;
      width: 100%;
      position: fixed;
      z-index: 300;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      background-color: white;
      right: 0%;
      left: 0%;
      margin: 0 auto;
      height: 12.5rem; }
      body#articles .a-wrapper .header .hidden-nav {
        display: inline-block;
        position: relative;
        z-index: 999;
        top: 2rem;
        width: 5rem;
        height: 4rem; }
        body#articles .a-wrapper .header .hidden-nav .line {
          margin-bottom: 1rem; }
        body#articles .a-wrapper .header .hidden-nav .line:nth-of-type(1) {
          width: 2rem;
          height: 0.3rem;
          background-color: black; }
        body#articles .a-wrapper .header .hidden-nav .line:nth-of-type(2) {
          width: 3.5rem;
          height: 0.3rem;
          background-color: black; }
        body#articles .a-wrapper .header .hidden-nav .line:nth-of-type(3) {
          width: 4.5rem;
          height: 0.3rem;
          background-color: black; }
      body#articles .a-wrapper .header .hidden-nav::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 0rem;
        height: 4rem;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        bottom: 0.5rem; }
      body#articles .a-wrapper .header .hidden-nav:hover {
        cursor: pointer; }
      body#articles .a-wrapper .header .hidden-nav:hover::before {
        content: '';
        position: absolute;
        z-index: -1;
        background-color: #ff7b00;
        width: 4rem;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        height: 4rem;
        bottom: 0.5rem; }
      body#articles .a-wrapper .header .nav li {
        list-style: none;
        display: inline-block;
        padding: 0 3rem; }
      body#articles .a-wrapper .header .nav ul {
        display: inline-block;
        margin-right: 3rem; }
      body#articles .a-wrapper .header .nav a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 1.6rem;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      body#articles .a-wrapper .header .nav a::before {
        content: '';
        position: absolute;
        width: 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        height: 2rem; }
      body#articles .a-wrapper .header .nav a:hover::before {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        width: 3rem;
        background-color: #ff7b00;
        height: 2rem; }
    body#articles .a-wrapper .cards {
      -ms-grid-row: 2;
      -ms-grid-row-span: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      grid-area: content;
      height: auto;
      width: 100%;
      max-width: 132rem;
      margin: 0 auto; }
      body#articles .a-wrapper .cards .a-title {
        font-size: 6rem;
        text-align: left;
        padding: 0 0 0rem 0;
        margin-top: 1rem;
        font-weight: 900; }
      body#articles .a-wrapper .cards .card:nth-child(even) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
        body#articles .a-wrapper .cards .card:nth-child(even) img {
          margin: 0 0 0 2rem; }
      body#articles .a-wrapper .cards .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: center;
        align-content: center;
        text-align: left;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        max-width: 132rem;
        min-height: 45rem;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        body#articles .a-wrapper .cards .card img {
          width: 45%;
          margin: 0 2rem 0 0;
          height: 100%;
          max-height: 55rem; }
      body#articles .a-wrapper .cards .card-i {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        width: 100%;
        max-width: 132rem;
        max-height: 60rem;
        margin: 2rem 0;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        body#articles .a-wrapper .cards .card-i img {
          width: 100%;
          max-width: 50rem; }
      body#articles .a-wrapper .cards .desc {
        font-size: 1.5rem;
        width: 100%;
        margin: -0.6rem 0rem 0rem 0rem;
        height: 100%;
        line-height: 3rem;
        max-width: 60rem; }
  @media only screen and (max-width: 1536px) {
    body#articles .a-wrapper .cards {
      padding: 0 3rem; }
    body#articles .a-wrapper .cards .card img {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
      flex: 1 0 0; } }
  @media only screen and (max-width: 1280px) {
    body#articles .a-wrapper .header nav.nav ul {
      display: none; }
    body#articles .a-wrapper .cards .u-social a {
      text-decoration: none;
      color: black;
      padding: 0 2rem;
      font-size: 4rem; }
    body#articles .a-wrapper .cards .card {
      margin-bottom: 0rem;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: reverse !important;
      -ms-flex-direction: column-reverse !important;
      flex-direction: column-reverse !important; }
      body#articles .a-wrapper .cards .card .desc {
        max-width: 100%;
        padding: 3rem 0; }
      body#articles .a-wrapper .cards .card img {
        width: 100%;
        margin: 0 auto !important; } }
  @media only screen and (max-width: 768px) {
    body#articles html, body#articles body {
      overflow-x: hidden; }
    body#articles .a-wrapper .header nav.nav ul {
      display: none; }
    body#articles .ii-wrap {
      padding-left: 0 !important; }
    body#articles .n-wrap {
      padding: 0 3rem; }
    body#articles .a-wrapper .header .hidden-nav {
      top: 1rem; }
    body#articles .a-title {
      margin: 0 0 0 -0.90rem; }
    body#articles .a-wrapper .cards .card {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      body#articles .a-wrapper .cards .card img {
        width: 100%;
        height: 35rem; }
    body#articles footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      body#articles footer .social {
        padding: 2rem 0; }
      body#articles footer img {
        max-width: 9rem; }
      body#articles footer .wrap {
        width: 100%;
        max-width: 130rem;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-line-pack: center;
        align-content: center; } }
  @media only screen and (max-width: 414px) {
    body#articles html, body#articles body {
      overflow-x: hidden; }
    body#articles .ii-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-left: 0.75rem;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      body#articles .ii-wrap .s-name {
        margin-left: -1rem; }
      body#articles .ii-wrap .u-social {
        padding-bottom: 2rem;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-right: 0rem; }
    body#articles .a-title {
      margin: 0 0 0 -0.90rem;
      font-size: 4rem !important;
      margin-top: 2rem !important; }
    body#articles .a-wrapper .header nav.nav ul {
      display: none; }
    body#articles .a-wrapper .cards .card {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      body#articles .a-wrapper .cards .card img {
        max-width: 55rem;
        max-height: 25rem; }
    body#articles footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      body#articles footer .social {
        padding: 2rem 0; }
      body#articles footer img {
        max-width: 7rem; }
      body#articles footer .wrap {
        width: 100%;
        max-width: 130rem;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-line-pack: center;
        align-content: center; } }

/*Colors*/
body#articles-2 {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: Helvetica, 'sans-serif';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }
  body#articles-2 .ii-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 132rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  body#articles-2 .u-social {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-right: -2rem; }
    body#articles-2 .u-social a {
      text-decoration: none;
      color: black;
      padding: 0 2rem;
      font-size: 4rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    body#articles-2 .u-social a:hover {
      color: #ff7b00;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
  body#articles-2 .nav-c {
    -webkit-filter: invert(100%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    height: 10.5rem !important; }
  body#articles-2 .logo-c {
    width: 10rem !important;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  body#articles-2 .a-wrapper {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr 12vw;
    grid-template-columns: auto 1fr 12vw;
    -ms-grid-rows: 15rem 1fr auto;
    grid-template-rows: 15rem 1fr auto;
    grid-template-areas: "header header header" "content content content" "content content content" "footer footer footer"; }
    body#articles-2 .a-wrapper .n-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 12.5rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      margin: 0 auto;
      width: 100%;
      max-width: 132rem; }
    body#articles-2 .a-wrapper .logo {
      -webkit-filter: invert(0%);
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      width: 13rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    body#articles-2 .a-wrapper aside {
      background-color: #ff7b00;
      position: fixed;
      width: 12vw;
      right: 0;
      height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      body#articles-2 .a-wrapper aside .art-nav li {
        list-style: none;
        padding: 2rem 0; }
      body#articles-2 .a-wrapper aside .art-nav a {
        text-decoration: none;
        color: black;
        font-size: 1.6rem;
        font-weight: bold; }
    body#articles-2 .a-wrapper .header {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      grid-area: header;
      width: 100%;
      position: fixed;
      z-index: 300;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      background-color: white;
      right: 0%;
      left: 0%;
      margin: 0 auto;
      height: 12.5rem; }
      body#articles-2 .a-wrapper .header .hidden-nav {
        display: inline-block;
        position: relative;
        z-index: 999;
        top: 2rem;
        width: 5rem;
        height: 4rem; }
        body#articles-2 .a-wrapper .header .hidden-nav .line {
          margin-bottom: 1rem; }
        body#articles-2 .a-wrapper .header .hidden-nav .line:nth-of-type(1) {
          width: 2rem;
          height: 0.3rem;
          background-color: black; }
        body#articles-2 .a-wrapper .header .hidden-nav .line:nth-of-type(2) {
          width: 3.5rem;
          height: 0.3rem;
          background-color: black; }
        body#articles-2 .a-wrapper .header .hidden-nav .line:nth-of-type(3) {
          width: 4.5rem;
          height: 0.3rem;
          background-color: black; }
      body#articles-2 .a-wrapper .header .hidden-nav::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 0rem;
        height: 4rem;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        bottom: 0.5rem; }
      body#articles-2 .a-wrapper .header .hidden-nav:hover {
        cursor: pointer; }
      body#articles-2 .a-wrapper .header .hidden-nav:hover::before {
        content: '';
        position: absolute;
        z-index: -1;
        background-color: #ff7b00;
        width: 4rem;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        height: 4rem;
        bottom: 0.5rem; }
      body#articles-2 .a-wrapper .header .nav li {
        list-style: none;
        display: inline-block;
        padding: 0 3rem; }
      body#articles-2 .a-wrapper .header .nav ul {
        display: inline-block;
        margin-right: 3rem; }
      body#articles-2 .a-wrapper .header .nav a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 1.6rem;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      body#articles-2 .a-wrapper .header .nav a::before {
        content: '';
        position: absolute;
        width: 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        height: 2rem; }
      body#articles-2 .a-wrapper .header .nav a:hover::before {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        width: 3rem;
        background-color: #ff7b00;
        height: 2rem; }
    body#articles-2 .a-wrapper .cards {
      -ms-grid-row: 2;
      -ms-grid-row-span: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      grid-area: content;
      height: auto;
      width: 100%;
      max-width: 132rem;
      margin: 0 auto; }
      body#articles-2 .a-wrapper .cards .a-title {
        font-size: 6rem;
        text-align: left;
        padding: 0 0 0rem 0;
        margin-top: 1rem;
        font-weight: 900; }
      body#articles-2 .a-wrapper .cards .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: center;
        align-content: center;
        text-align: left;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        max-width: 132rem;
        min-height: 45rem;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        body#articles-2 .a-wrapper .cards .card img {
          width: 50%;
          margin: 0 0;
          height: 100%;
          max-height: 55rem; }
      body#articles-2 .a-wrapper .cards .desc {
        font-size: 1.5rem;
        width: 100%;
        margin: -0.6rem 0rem 0rem 0rem;
        height: 100%;
        padding: 0 2rem;
        line-height: 3rem;
        max-width: 60rem; }
  @media only screen and (max-width: 1536px) {
    body#articles-2 .card {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
    body#articles-2 .card-i {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
      flex: 1 0 100%;
      width: 100%;
      max-width: 132rem;
      max-height: 60rem;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      body#articles-2 .card-i img {
        width: 100%;
        max-height: 45rem; }
    body#articles-2 .a-wrapper .cards {
      padding: 0 3rem; }
    body#articles-2 .a-wrapper .cards .card img {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
      flex: 1 0 0; } }
  @media only screen and (max-width: 1280px) {
    body#articles-2 .a-wrapper .header nav.nav ul {
      display: none; }
    body#articles-2 .card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
    body#articles-2 .a-wrapper .cards .u-social a {
      text-decoration: none;
      color: black;
      padding: 0 2rem;
      font-size: 4rem; }
    body#articles-2 .a-wrapper .cards .card {
      margin-bottom: 0rem;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      body#articles-2 .a-wrapper .cards .card .desc {
        max-width: 100%;
        padding: 3rem 0; }
      body#articles-2 .a-wrapper .cards .card img {
        width: 100%; } }
  @media only screen and (max-width: 768px) {
    body#articles-2 html, body#articles-2 body {
      overflow-x: hidden; }
    body#articles-2 .a-wrapper .header nav.nav ul {
      display: none; }
    body#articles-2 .ii-wrap {
      padding-left: 0 !important; }
    body#articles-2 .a-wrapper .cards .card-i img {
      max-height: 35rem; }
    body#articles-2 .n-wrap {
      padding: 0 3rem; }
    body#articles-2 .a-wrapper .header .hidden-nav {
      top: 1rem; }
    body#articles-2 .a-title {
      margin: 0 0 0 -0.90rem; }
    body#articles-2 .a-wrapper .cards .card {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      body#articles-2 .a-wrapper .cards .card img {
        width: 100%;
        height: 35rem; }
    body#articles-2 footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      body#articles-2 footer .social {
        padding: 3rem 0; }
      body#articles-2 footer img {
        max-width: 9rem; }
      body#articles-2 footer .wrap {
        width: 100%;
        max-width: 130rem;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-line-pack: center;
        align-content: center; } }
  @media only screen and (max-width: 414px) {
    body#articles-2 html, body#articles-2 body {
      overflow-x: hidden; }
    body#articles-2 .ii-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-left: 0.75rem;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      body#articles-2 .ii-wrap .s-name {
        margin-left: -1rem; }
      body#articles-2 .ii-wrap .u-social {
        padding-bottom: 2rem;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-right: 0rem; }
    body#articles-2 .a-title {
      margin: 0 0 0 -0.90rem;
      font-size: 4rem !important;
      margin-top: 2rem !important; }
    body#articles-2 .card-i img {
      width: 100%;
      max-height: 25rem !important; }
    body#articles-2 .a-wrapper .header nav.nav ul {
      display: none; }
    body#articles-2 .a-title {
      margin: 0 0 0 -0.90rem; }
    body#articles-2 .a-title {
      font-size: 4rem !important;
      margin-top: 3rem !important; }
    body#articles-2 .a-wrapper .cards .card {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      body#articles-2 .a-wrapper .cards .card img {
        max-width: 55rem;
        max-height: 25rem; }
    body#articles-2 footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      body#articles-2 footer .social {
        padding: 3rem 0; }
      body#articles-2 footer img {
        max-width: 7rem; }
      body#articles-2 footer .wrap {
        width: 100%;
        max-width: 130rem;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-line-pack: center;
        align-content: center; } }

/*Colors*/
.nav-sub .bg {
  position: absolute;
  z-index: -1;
  background-image: none;
  background-size: 50%;
  background-position: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }

.con-wrap {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: content;
  width: 100%;
  margin: 1rem auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

body#articles .a-wrapper > .con-wrap {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3; }

body#articles-2 .a-wrapper > .con-wrap {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3; }

.nav-sub .wrapper > .con-wrap {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2; }

.a-wrapper > .con-wrap {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3; }

body#team .a-wrapper > .con-wrap {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3; }
  .con-wrap h1 {
    color: #ff7b00;
    text-align: center;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-family: "Nimbus Sans Extd";
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    font-size: 6rem; }
    .con-wrap h1:hover {
      color: black;
      -webkit-text-stroke: 2px #ff7b00;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }

.nav-sub {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  background-color: black;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 900; }
  .nav-sub .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 15vh auto;
    grid-template-rows: 15vh auto;
    grid-template-areas: "header header" "content content"; }
  .nav-sub .close-nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
    height: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    max-width: 170rem;
    padding: 0 3rem; }
    .nav-sub .close-nav .con {
      width: 3rem;
      height: 1.2rem;
      margin-top: 2rem;
      cursor: pointer; }
    .nav-sub .close-nav .line-one {
      width: 3rem;
      height: 0.3rem;
      background-color: white;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .nav-sub .close-nav .line-two {
      width: 3rem;
      height: 0.3rem;
      position: relative;
      bottom: 0.25rem;
      background-color: white;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

@media only screen and (min-width: 2500px) {
  .nav-sub .close-nav {
    min-width: 2500px;
    margin-top: 2rem;
    padding: 0 7rem; }
  .nav-sub .col {
    margin-bottom: 13rem !important; } }

@media only screen and (min-width: 1920px) {
  .nav-sub .close-nav {
    margin-top: 2rem;
    padding: 0 8rem; } }

@media only screen and (max-width: 1536px) {
  html {
    font-size: 55%; }
  .n-wrap {
    padding: 0 3rem; }
  .nav-sub .col {
    margin-bottom: 4rem !important; }
    .nav-sub .col h1 {
      font-size: 5rem; }
  .nav-sub .close-nav {
    max-width: 145rem;
    margin-top: 2rem;
    padding: 0 10rem; } }

@media only screen and (max-width: 1280px) {
  .nav-sub .wrapper {
    padding: 0 3rem; }
  .nav-sub .col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 6rem !important; }
  .nav-sub .col h1 {
    font-size: 5rem; }
  .n-wrap {
    padding: 0 3rem; } }

@media only screen and (max-width: 768px) {
  .nav-sub .col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    text-align: center;
    position: relative;
    padding: 2rem 0;
    max-height: 50rem;
    margin-bottom: 10rem !important; }
  .nav-sub .con-wrap h1 {
    font-size: 4rem !important;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .nav-sub .col h1 {
    font-size: 3rem; } }

@media only screen and (max-width: 414px) {
  .n-wrap {
    padding: 0 3rem; }
  .nav-sub .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 10vh auto;
    grid-template-rows: 10vh auto;
    grid-template-areas: "header header" "content content"; }
  .nav-sub .close-nav {
    height: 4rem;
    padding: 0rem 1rem; }
  .nav-sub .col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    text-align: center;
    padding: 2rem 0;
    max-height: 50rem;
    margin-bottom: 5rem !important; }
  .nav-sub .col h1 {
    font-size: 4rem; }
  .nav-sub .col li a {
    font-size: 1.4rem; }
  .nav-sub .wrapper > .h-wrap {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  .nav-sub .wrapper > .t-wrap {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  .nav-sub .wrapper > .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  .nav-sub .wrapper > .cards {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  .nav-sub .wrapper > .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  .nav-sub .wrapper > .cards {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  .nav-sub .wrapper > .con-wrap {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  .nav-sub .wrapper > .close-nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; } }

@media only screen and (max-width: 375px) {
  .nav-sub .col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    text-align: center;
    padding: 2rem 0;
    max-height: 40rem;
    margin-bottom: 8rem !important; } }

@media only screen and (max-width: 320px) {
  .nav-sub .col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    text-align: center;
    padding: 2rem 0;
    max-height: 40rem;
    margin-bottom: 0rem !important; } }

/*Colors*/
html {
  scroll-behavior: smooth !important; }

#cards .links {
  padding: 2rem 0;
  width: 100%;
  height: auto;
  max-width: 122rem;
  background-color: #171717;
  border-radius: 1.2rem;
  -webkit-box-shadow: 0px 45px 90px -62px black;
  -moz-box-shadow: 0px 45px 90px -62px black;
  box-shadow: 0px 45px 90px -62px black; }
  #cards .links a {
    text-decoration: none;
    color: white;
    padding: 0 1.5rem 0rem 1.5rem;
    height: 3rem;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 1.4rem; }
    #cards .links a:hover {
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      color: #ff7b00; }

.scrolltop {
  position: fixed;
  z-index: 100;
  right: 30px;
  bottom: 30px; }
  .scrolltop img {
    width: 5rem;
    display: none; }

.nav-c {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: 10.5rem !important;
  background-color: black; }

.logo-c {
  width: 10rem !important;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.a-wrapper {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr 12vw;
  grid-template-columns: auto 1fr 12vw;
  -ms-grid-rows: 15rem 1fr auto;
  grid-template-rows: 15rem 1fr auto;
  grid-template-areas: "header header header" "content content content" "content content content" "footer footer footer"; }
  .a-wrapper .n-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 12.5rem;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 auto;
    width: 100%;
    max-width: 132rem; }
  .a-wrapper .logo {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 13rem;
    -webkit-filter: invert(100%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .a-wrapper aside {
    background-color: #ff7b00;
    position: fixed;
    width: 12vw;
    right: 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .a-wrapper aside .art-nav li {
      list-style: none;
      padding: 2rem 0; }
    .a-wrapper aside .art-nav a {
      text-decoration: none;
      color: black;
      font-size: 1.6rem;
      font-weight: bold; }
  .a-wrapper .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
    width: 100%;
    position: fixed;
    z-index: 300;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    right: 0%;
    left: 0%;
    margin: 0 auto;
    height: 12.5rem; }
    .a-wrapper .header .hidden-nav {
      display: inline-block;
      position: relative;
      z-index: 999;
      top: 2rem;
      width: 5rem;
      height: 4rem; }
      .a-wrapper .header .hidden-nav .line {
        margin-bottom: 1rem; }
      .a-wrapper .header .hidden-nav .line:nth-of-type(1) {
        width: 2rem;
        height: 0.3rem;
        background-color: white; }
      .a-wrapper .header .hidden-nav .line:nth-of-type(2) {
        width: 3.5rem;
        height: 0.3rem;
        background-color: white; }
      .a-wrapper .header .hidden-nav .line:nth-of-type(3) {
        width: 4.5rem;
        height: 0.3rem;
        background-color: white; }
    .a-wrapper .header .hidden-nav::before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 0rem;
      height: 4rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      bottom: 0.5rem; }
    .a-wrapper .header .hidden-nav:hover {
      cursor: pointer; }
    .a-wrapper .header .hidden-nav:hover::before {
      content: '';
      position: absolute;
      z-index: -1;
      background-color: #ff7b00;
      width: 4rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      height: 4rem;
      bottom: 0.5rem; }
    .a-wrapper .header .nav li {
      list-style: none;
      display: inline-block;
      padding: 0 3rem; }
    .a-wrapper .header .nav ul {
      display: inline-block;
      margin-right: 3rem; }
    .a-wrapper .header .nav a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      font-size: 1.6rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .a-wrapper .header .nav a::before {
      content: '';
      position: absolute;
      width: 0;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      height: 2rem; }
    .a-wrapper .header .nav a:hover::before {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      width: 3rem;
      background-color: #ff7b00;
      height: 2rem; }
  .a-wrapper .cards {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: content;
    height: auto;
    width: 100%;
    max-width: 132rem;
    margin: 0 auto; }
    .a-wrapper .cards .a-title {
      font-size: 6rem;
      text-align: left;
      padding: 0 0 0rem 0;
      margin-top: 1rem;
      font-weight: 900; }
    .a-wrapper .cards .card:nth-child(even) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
      .a-wrapper .cards .card:nth-child(even) img {
        margin: 0 0 0 2rem; }
    .a-wrapper .cards .card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
      align-content: center;
      text-align: left;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      max-width: 132rem;
      min-height: 45rem;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .a-wrapper .cards .card img {
        width: 45%;
        margin: 0 2rem 0 0;
        height: 100%;
        max-height: 55rem; }
    .a-wrapper .cards .card-i {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
      flex: 1 0 100%;
      width: 100%;
      max-width: 132rem;
      max-height: 60rem;
      margin: 2rem 0;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .a-wrapper .cards .card-i img {
        width: 100%;
        max-width: 50rem; }
    .a-wrapper .cards .desc {
      font-size: 1.5rem;
      width: 100%;
      margin: -0.6rem 0rem 0rem 0rem;
      height: 100%;
      line-height: 3rem;
      max-width: 60rem; }
  .a-wrapper .content {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: content;
    padding: 0 3rem 20rem 3rem;
    width: 100%;
    position: relative;
    height: auto;
    max-width: 130rem;
    margin: 0 auto; }
    .a-wrapper .content .wrap {
      width: 100%;
      height: auto;
      max-width: 130rem;
      margin: 0 auto; }
    .a-wrapper .content h1 {
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
      font-family: "Nimbus Sans Extd";
      font-size: 13rem;
      width: 100%;
      max-width: 50%;
      margin: 0 0 0 30rem;
      text-transform: uppercase; }
    .a-wrapper .content .im-two img {
      width: 100%;
      max-width: 45rem;
      opacity: 0.8;
      position: absolute;
      z-index: -1;
      right: 0;
      margin: 0 10rem 0 0; }
    .a-wrapper .content .im-two .glitch-2 {
      opacity: 0.3;
      margin-top: 10rem;
      margin-right: 15rem; }
    .a-wrapper .content .im-one img {
      width: 100%;
      max-width: 45rem;
      opacity: 0.8;
      position: absolute;
      z-index: -1; }
    .a-wrapper .content .im-one .glitch-2 {
      margin-top: -10rem;
      margin-left: 10rem;
      opacity: 0.3; }
    .a-wrapper .content .author {
      color: white;
      font-size: 1.4rem;
      width: 100%;
      max-width: 10rem;
      margin: 3rem 0 0 43rem; }
    .a-wrapper .content .desc {
      color: white;
      width: 100%;
      max-width: 40rem;
      margin: 0rem 0 0 43rem;
      font-size: 1.4rem; }

.s-name {
  font-size: 1.6rem;
  color: gray;
  padding: 0 0 3rem 0; }

.youtube {
  padding-bottom: 2rem; }

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  background-color: black;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 25vh;
  z-index: 2; }

body#articles-2 .a-wrapper > footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3; }

.a-wrapper > footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3; }

body#team .a-wrapper > footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3; }
  footer .f-logo {
    display: block;
    -webkit-filter: invert(100%);
    margin-bottom: 1rem; }
  footer .log-wrap {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
    footer .log-wrap .legacy {
      text-decoration: none;
      color: #ff7b00;
      font-size: 1.3rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      footer .log-wrap .legacy:hover {
        color: white;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
  footer .wrap {
    width: 100%;
    max-width: 130rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center; }
  footer .f-logo {
    -webkit-filter: invert(100%); }
  footer .fab {
    color: #ff7b00;
    font-size: 3rem;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0 2rem; }
  footer .copyright {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  footer .copyright p {
    color: white;
    font-size: 1.5rem; }
  footer .fab:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: white;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  footer .social {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  footer img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 13rem; }

@media only screen and (max-width: 1536px) {
  .a-wrapper .cards {
    padding: 0 3rem; }
  .a-wrapper .cards .card img {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0; } }

@media only screen and (max-width: 1280px) {
  .a-wrapper .cards .u-social a {
    text-decoration: none;
    color: black;
    padding: 0 2rem;
    font-size: 4rem; }
  .a-wrapper .cards .card {
    margin-bottom: 0rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important; }
    .a-wrapper .cards .card .desc {
      max-width: 100%;
      padding: 3rem 0; }
    .a-wrapper .cards .card img {
      width: 100%;
      margin: 0 auto !important; } }

@media only screen and (max-width: 768px) {
  html, body {
    overflow-x: hidden; }
  #cards .links a {
    display: inline-block;
    padding: 1rem 1.5rem 1rem 1.5rem; }
  #cards .content {
    height: 100% !important;
    min-height: 95rem !important;
    margin-bottom: 13rem !important; }
    #cards .content .desc {
      margin: -30rem auto 0 auto !important; }
    #cards .content .author {
      margin: 5rem auto !important; }
    #cards .content .im-one {
      margin: 40rem 0 20rem 0 !important; }
    #cards .content h1 {
      margin: 0 0rem 0 0 !important;
      font-size: 18vw !important;
      width: 100% !important;
      max-width: auto !important; }
  #cards .a-wrapper .header nav.nav ul {
    display: none; }
  #cards .ii-wrap {
    padding-left: 0 !important; }
  #cards .n-wrap {
    padding: 0 3rem; }
  #cards .a-wrapper .header .hidden-nav {
    top: 1rem; }
  #cards .a-title {
    margin: 0 0 0 -0.90rem; }
  #cards .a-wrapper .cards .card {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #cards .a-wrapper .cards .card img {
      width: 100%;
      height: 35rem; }
  #cards footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10rem 0 !important; }
    #cards footer .social {
      padding: 2rem 0; }
    #cards footer img {
      max-width: 9rem; }
    #cards footer .wrap {
      width: 100%;
      max-width: 130rem;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-line-pack: center;
      align-content: center; } }

@media only screen and (max-width: 768px) and (max-width: 414px) {
  html, body {
    overflow-x: hidden; }
  .content {
    margin-bottom: 0rem !important; }
    .content .desc {
      margin: -30rem auto 0 auto !important; }
    .content .author {
      margin: 5rem auto !important; }
    .content .im-one {
      margin: 40rem 0 20rem 0 !important; }
    .content h1 {
      margin: 0 0rem 0 0 !important;
      font-size: 18vw !important;
      width: 100% !important;
      max-width: auto !important; }
  .ii-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0.75rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .ii-wrap .s-name {
      margin-left: -1rem; }
    .ii-wrap .u-social {
      padding-bottom: 2rem;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      margin-right: 0rem; }
  .a-title {
    margin: 0 0 0 -0.90rem;
    font-size: 4rem !important;
    margin-top: 2rem !important; }
  .a-wrapper .header nav.nav ul {
    display: none; }
  .a-wrapper .cards .card {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .a-wrapper .cards .card img {
      max-width: 55rem;
      max-height: 25rem; }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    footer .social {
      padding: 2rem 0; }
    footer img {
      max-width: 7rem; }
    footer .wrap {
      width: 100%;
      max-width: 130rem;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-line-pack: center;
      align-content: center; } }

@media only screen and (max-width: 768px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    footer .social {
      padding: 3rem 0; }
    footer img {
      max-width: 9rem; }
    footer .wrap {
      width: 100%;
      max-width: 130rem;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-line-pack: center;
      align-content: center; } }

@media all and (max-width: 414px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    footer .social {
      padding: 1rem 0; }
    footer p {
      font-size: 1.2rem !important; }
    footer .wrap {
      width: 100%;
      max-width: 130rem;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-line-pack: center;
      align-content: center; } }

#cards {
  font-family: Helvetica, 'sans-serif';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  background-color: #1C1C1C;
  background-image: url("../export/images/misc/bg.png");
  background-size: 50%; }
  #cards .cards {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: content; }
    #cards .cards .wrap {
      width: 100%;
      max-width: 132rem;
      margin: 5rem auto; }
    #cards .cards a {
      text-decoration: none; }
    #cards .cards .wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    #cards .cards .course {
      margin: 4rem 0; }
    #cards .cards h1 {
      color: white;
      font-size: 5rem;
      font-family: "Nimbus Sans Extd"; }
    #cards .cards h2 {
      color: #ff7b00;
      margin-bottom: 2rem;
      font-size: 3rem;
      font-family: "Nimbus Sans Extd"; }
    #cards .cards .c-card-info {
      width: 100%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
      flex: 0 0 22%;
      -webkit-box-shadow: 0px 45px 90px -62px black;
      -moz-box-shadow: 0px 45px 90px -62px black;
      box-shadow: 0px 45px 90px -62px black;
      height: 20rem;
      margin: 0 2rem 2rem 0;
      position: relative;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      background-color: #171717;
      border-radius: 3rem; }
      #cards .cards .c-card-info .info {
        margin: 1.5rem 2rem; }
        #cards .cards .c-card-info .info img {
          width: 1rem;
          margin-right: 0.6rem; }
      #cards .cards .c-card-info h3 {
        color: white;
        font-size: 1.4rem;
        font-family: Helvetica;
        font-weight: bold;
        margin-bottom: 1rem; }
      #cards .cards .c-card-info p {
        color: white;
        padding: 0 0 0.5rem 0;
        font-family: Helvetica;
        font-size: 1.2rem; }
      #cards .cards .c-card-info:hover {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      #cards .cards .c-card-info .bg {
        width: 100%;
        height: 10rem;
        position: relative;
        border-radius: 3rem 3rem 0 0;
        overflow: hidden; }
        #cards .cards .c-card-info .bg img {
          width: inherit;
          position: absolute;
          height: 15rem;
          border-radius: 3rem 3rem 0 0; }

@media all and (max-width: 768px) {
  .cards .c-card-info {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 40% !important;
    flex: 0 0 40% !important; } }

@media all and (max-width: 414px) {
  .cards .c-card-info {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 44% !important;
    flex: 0 0 44% !important; } }

@media all and (max-width: 390px) {
  .cards .wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .cards .c-card-info {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 70% !important;
    flex: 0 0 70% !important; } }

/*Colors*/
body#team {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: Helvetica, 'sans-serif';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }
  body#team .ii-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 132rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  body#team .u-social {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-right: -2rem; }
    body#team .u-social a {
      text-decoration: none;
      color: black;
      padding: 0 2rem;
      font-size: 4rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    body#team .u-social a:hover {
      color: #ff7b00;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
  body#team .nav-c {
    -webkit-filter: invert(100%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    height: 12rem !important; }
  body#team .logo-c {
    width: 10rem !important;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  body#team .a-wrapper {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr 12vw;
    grid-template-columns: auto 1fr 12vw;
    -ms-grid-rows: 15rem 1fr auto;
    grid-template-rows: 15rem 1fr auto;
    grid-template-areas: "header header header" "content content content" "content content content" "footer footer footer"; }
    body#team .a-wrapper .n-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 12.5rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      margin: 0 auto;
      width: 100%;
      max-width: 132rem; }
    body#team .a-wrapper .logo {
      -webkit-filter: invert(0%);
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      width: 13rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    body#team .a-wrapper aside {
      background-color: #ff7b00;
      position: fixed;
      width: 12vw;
      right: 0;
      height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      body#team .a-wrapper aside .art-nav li {
        list-style: none;
        padding: 2rem 0; }
      body#team .a-wrapper aside .art-nav a {
        text-decoration: none;
        color: black;
        font-size: 1.6rem;
        font-weight: bold; }
    body#team .a-wrapper .header {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      grid-area: header;
      width: 100%;
      position: fixed;
      z-index: 300;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      background-color: white;
      right: 0%;
      left: 0%;
      margin: 0 auto;
      height: 12.5rem; }
      body#team .a-wrapper .header .hidden-nav {
        display: inline-block;
        position: relative;
        z-index: 999;
        top: 2rem;
        width: 5rem;
        height: 4rem; }
        body#team .a-wrapper .header .hidden-nav .line {
          margin-bottom: 1rem; }
        body#team .a-wrapper .header .hidden-nav .line:nth-of-type(1) {
          width: 2rem;
          height: 0.3rem;
          background-color: black; }
        body#team .a-wrapper .header .hidden-nav .line:nth-of-type(2) {
          width: 3.5rem;
          height: 0.3rem;
          background-color: black; }
        body#team .a-wrapper .header .hidden-nav .line:nth-of-type(3) {
          width: 4.5rem;
          height: 0.3rem;
          background-color: black; }
      body#team .a-wrapper .header .hidden-nav::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 0rem;
        height: 4rem;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        bottom: 0.5rem; }
      body#team .a-wrapper .header .hidden-nav:hover {
        cursor: pointer; }
      body#team .a-wrapper .header .hidden-nav:hover::before {
        content: '';
        position: absolute;
        z-index: -1;
        background-color: #ff7b00;
        width: 4rem;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        height: 4rem;
        bottom: 0.5rem; }
      body#team .a-wrapper .header .nav li {
        list-style: none;
        display: inline-block;
        padding: 0 3rem; }
      body#team .a-wrapper .header .nav ul {
        display: inline-block;
        margin-right: 3rem; }
      body#team .a-wrapper .header .nav a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 1.6rem;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      body#team .a-wrapper .header .nav a::before {
        content: '';
        position: absolute;
        width: 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        height: 2rem; }
      body#team .a-wrapper .header .nav a:hover::before {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        width: 3rem;
        background-color: #ff7b00;
        height: 2rem; }
  body#team .team-wrap {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: content;
    width: 100%;
    max-width: calc(130rem - 3rem);
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 5rem 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center; }
  @media only screen and (max-width: 414px) {
  .nav-sub .wrapper > .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  .nav-sub .wrapper > .cards {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  .nav-sub .wrapper > .content {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  .nav-sub .wrapper > .cards {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  .nav-sub .wrapper > .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  .nav-sub .wrapper > .team-wrap {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; } }
    body#team .team-wrap .team-card {
      -webkit-box-flex: 50%;
      -ms-flex: 50%;
      flex: 50%;
      padding: 2rem 3rem; }
      body#team .team-wrap .team-card img {
        max-width: 100%; }
      body#team .team-wrap .team-card h2 {
        padding: 1rem 0; }
      body#team .team-wrap .team-card h1 {
        padding-top: 1rem;
        color: #ff7b00; }
      body#team .team-wrap .team-card p {
        font-size: 1.4rem;
        line-height: 2rem;
        color: #6c6c6c; }
  @media only screen and (max-width: 1280px) {
    body#team .a-wrapper .header nav.nav ul {
      display: none; }
    body#team .team-wrap .team-card {
      -webkit-box-flex: 50%;
      -ms-flex: 50%;
      flex: 50%; } }
  @media only screen and (max-width: 768px) {
    body#team html, body#team body {
      overflow-x: hidden; }
    body#team .a-wrapper .header nav.nav ul {
      display: none; }
    body#team .team-wrap .team-card {
      -webkit-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%; }
    body#team .ii-wrap {
      padding-left: 0 !important; }
    body#team .n-wrap {
      padding: 0 3rem; }
    body#team .a-wrapper .header .hidden-nav {
      top: 1rem; }
    body#team .a-title {
      margin: 0 0 0 -0.90rem; }
    body#team footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      body#team footer .social {
        padding: 2rem 0; }
      body#team footer img {
        max-width: 9rem; }
      body#team footer .wrap {
        width: 100%;
        max-width: 130rem;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-line-pack: center;
        align-content: center; } }
  @media only screen and (max-width: 414px) {
    body#team html, body#team body {
      overflow-x: hidden; }
    body#team .ii-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-left: 0.75rem;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      body#team .ii-wrap .s-name {
        margin-left: -1rem; }
      body#team .ii-wrap .u-social {
        padding-bottom: 2rem;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-right: 0rem; }
    body#team .a-title {
      margin: 0 0 0 -0.90rem;
      font-size: 4rem !important;
      margin-top: 2rem !important; }
    body#team .a-wrapper .header nav.nav ul {
      display: none; } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%; }

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"), url("../fonts/Helvetica.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Oblique';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Oblique"), url("../fonts/Helvetica.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"), url("../fonts/Helvetica.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Bold Oblique';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Bold Oblique"), url("../fonts/Helvetica.woff") format("woff"); }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff7b00; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #984d00; }

@media only screen and (min-width: 2500px) {
  html {
    font-size: 85%; } }
